<footer class="footer">
    <div class="container">
        <center>
            <p style="color: white">Created by <strong>Rafael Dominguez J</strong> - <a href="http://www.techandsolve.com/" target="_blank">Tech & Solve</a> </p>
        </center>
    </div>
</footer>