<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#e6e6e6" role="navigation">
    <div class="container" ng-controller="LoginController as login">
        <div class="col-md-4">            
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="#/">MITROL</a>
            <div ng-show="login.user.id > 0">
                {{login.user.userName}}
                <h5 >Hola {{login.user.userName}} !</h5>
            </div>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div ng-hide="login.user.id > 0">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p><a href="#" class="btn btn-primary" id="logout-btn" ng-click="login.logout()" >Logout</a></p>
                    </li>
                </ul>
            </div>
        </div>
        
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>