<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tech&SolveTest</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css" />
        <link rel="stylesheet" href="bower_components/angular-object-table/build/object-table-style.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="apiReservasApp">
        <!--[if lte IE 8]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="header" >
            <div class="navbar navbar-inverse navbar-fixed-top" >
                <a class="navbar-brand" href="/vuelos">Tech & Solve</a>
                <div ng-controller="LoginController as loginCtrl">
                    <div class="navbar-left">
                        <h6 ng-if="loginCtrl.usuario.userName !== ''" style="color: white;margin-top: 18px;">Bienvenido  <span class="glyphicon glyphicon-user"></span> <strong>{{loginCtrl.usuario.firstName}} {{loginCtrl.usuario.lastName}}</strong>!</h6>
                    </div>
                    <ul class="nav navbar-nav navbar-right" ng-if="loginCtrl.usuario.userName !== ''">
                        <li>
                            <a href="#!/vuelos"><span class="glyphicon glyphicon-plane"></span> Vuelos</a>
                        </li>
                        <li>
                            <a href="#!/reserva"><span class="glyphicon glyphicon-ok-circle"></span> Reservas</a>
                        </li>
                        <li>
                            <a href="#!/usuarios"><span class="glyphicon glyphicon-user"></span> Usuarios</a>
                        </li>
                        <li>
                            <p style="margin-right: 30px; margin-top: 8px;">
                                <a href="#" class="btn btn-primary" id="logout-btn" ng-click="loginCtrl.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                            </p>
                        </li>
                    </ul>
                   
                </div>
            </div>
        </div>
        <!--<div ng-include='"styles/templates/header.html"'></div>-->

        <div class="container-fluid">
<!--            <div class="col-lg-12 col-sm-offset-0">-->
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 
                            'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view></div>
            <!--</div>-->
            <!--<div ng-view=""></div>-->
        </div>
        <!--<div ng-include='"styles/templates/footer.html"'></div>-->
        <footer class="navbar navbar-inverse navbar-default">
            <div class="container">
                <center>
                    <p style="color: white">Created by <strong>Rafael Dominguez J</strong> - <a href="http://www.techandsolve.com/" target="_blank">Tech & Solve</a> </p>
                </center>
            </div>
        </footer>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            !function(A, n, g, u, l, a, r){A.GoogleAnalyticsObject = l, A[l] = A[l] || function(){
            (A[l].q = A[l].q || []).push(arguments)}, A[l].l = + new Date, a = n.createElement(g),
                    r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
            }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');
        </script>

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>
        <script src="bower_components/angular-object-table/build/object-table.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/auth.service.js"></script>
        <script src="scripts/services/flash.service.js"></script>
        <!-- Real user service that uses an api -->
        <script src="scripts/services/user.service.js"></script>
        <script src="scripts/services/aerolinea.service.js"></script>
        <script src="scripts/services/aeropuerto.service.js"></script>
        <script src="scripts/services/reserva.service.js"></script>
        <script src="scripts/services/vuelo.service.js"></script>
        <!-- Fake user service for demo that uses local storage -->
        <script src="scripts/controllers/home.controller.js"></script>
        <script src="scripts/controllers/login.controller.js"></script>
        <script src="scripts/controllers/user.controller.js"></script>
        <script src="scripts/controllers/vuelo.controller.js"></script>
        <script src="scripts/controllers/reserva.controller.js"></script>
        <!-- endbuild -->
    </body>
</html>
