<div class="content-box"  ng-controller="VueloController as vueloCtrl">
    <br>
    <div class="panel panel-default">
        <div class="panel-heading"> 
            <span class="glyphicon glyphicon-plane"></span>Vuelos
        </div>
        <div class="panel-body">
            <form name="form" ng-submit="vueloCtrl.onConsultar()" role="form">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="selectAero">Origen</label>
                            <select ng-options="item as item.ciudad +' - (' +item.iata +')' + ' - (' +item.nombre +')' for item in vueloCtrl.listAeropuertos" name="selectAero" id="selectAero"
                                    class="form-control" ng-model="vueloCtrl.busquedaDTO.origen"
                                    validation="required">
                                <option ng-if="vueloCtrl.listAeropuertos.length > 1" value="" selected>-- SELECCIONE --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="selectAeroDest">Destino</label>
                            <select ng-options="item as item.ciudad +' - (' +item.iata +')' + ' - (' +item.nombre +')' for item in vueloCtrl.listAeropuertos" name="selectAeroDest" id="selectAeroDest"
                                    class="form-control" ng-model="vueloCtrl.busquedaDTO.destino"
                                    validation="required">
                                <option ng-if="vueloCtrl.listAeropuertos.length > 1" value="" selected>-- SELECCIONE --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="fsalida">Salida</label>
                            <div style="float: right;height: 22px;" >
                                <input id="tipovuelo" type="checkbox" ng-model="vueloCtrl.chkselct" 
                                       ng-checked="vueloCtrl.checkvalidation()">
                                <label for="tipovuelo" style="font-weight: normal;">Sólo ida</label>
                            </div>
                            <input type="date" class="form-control" id="fsalida" ng-model="vueloCtrl.busquedaDTO.salida"/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="fllegada">Llegada</label>
                            <input type="date" class="form-control" id="fllegada" ng-model="vueloCtrl.busquedaDTO.llegada"
                                   ng-disabled="!vueloCtrl.validationCheck"/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="fpasajeros">Pasajeros</label>
                            <input type="number" class="form-control" id="fpasajeros" ng-model="vueloCtrl.busquedaDTO.pasajeros"/>
                        </div>
                    </div>
                </div>
                <center>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                </center>
            </form>
        </div>
    </div>
    <div class="panel panel-default" ng-if="vueloCtrl.listVuelosSalidas.length > 0">
        <div class="panel-heading"> <span class="glyphicon glyphicon-plane"></span>Salidas - {{vueloCtrl.busquedaDTO.origen.ciudad}}</div>
        <div class="panel-body">
            <table object-table class="hover-column" data="vueloCtrl.listVuelosSalidas" display="vueloCtrl.display"
                   headers="Aerolinea,Vuelo,Salida,Llegada,Tarifa,Asientos Disponibles"
                   fields="aerolinea,vuelo,hora_salida,hora_llegada,tarifa,disponibilidad" sorting="compound"
                   editable="false" search="separate" resize="false"
                   add-filter="| filter:$owner.all">
                <tbody>
                    <tr>
                        <td>{{::item.aerolinea}}</td>
                        <td>{{::item.vuelo}}</td>
                        <td>{{::item.hora_salida}}</td>
                        <td>{{::item.hora_llegada}}</td>
                        <td>{{::item.tarifa| currency}}</td>
                        <td>{{::item.disponibilidad}}</td>
                        <td class="opciones-table text-center">
                            <a href="">
                                <button class="btn btn-info btn-tools-table" title="Reservar" ng-click="$owner.vueloCtrl.onReservar(item)">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr ng-show="$filtered.length === 0 && $owner.vueloCtrl.listVuelosSalidas.length !== 0">
                        <td colspan="5">NO HAY COINCIDENCIAS</td>
                    </tr>
                    <tr ng-show="$owner.vueloCtrl.listVuelosSalidas.length === 0">
                        <td colspan="5">NO HAY REGISTROS</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="panel panel-default" ng-if="vueloCtrl.listVuelosLlegadas.length > 0">
        <div class="panel-heading"> <span class="glyphicon glyphicon-plane"></span>Llegadas - {{vueloCtrl.busquedaDTO.destino.ciudad}}</div>
        <div class="panel-body">
            <table object-table class="hover-column" data="vueloCtrl.listVuelosLlegadas" display="vueloCtrl.display"
                   headers="Aerolinea,Vuelo,Hora Salida,Hora Llegada,Tarifa,Asientos Disponibles"
                   fields="aerolinea,vuelo,hora_salida,hora_llegada,tarifa,disponibilidad" sorting="compound"
                   editable="false" search="separate" resize="false"
                   add-filter="| filter:$owner.all">
                <tbody>
                    <tr>
                        <td>{{::item.aerolinea}}</td>
                        <td>{{::item.vuelo}}</td>
                        <td>{{::item.hora_salida}}</td>
                        <td>{{::item.hora_llegada}}</td>
                        <td>{{::item.tarifa| currency}}</td>
                        <td>{{::item.disponibilidad}}</td>
                        <td class="opciones-table text-center">
                            <a href="">
                                <button class="btn btn-info btn-tools-table" title="Reservar" ng-click="$owner.vueloCtrl.onReservar(item)">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr ng-show="$filtered.length === 0 && $owner.vueloCtrl.listVuelosLlegadas.length !== 0">
                        <td colspan="5">NO HAY COINCIDENCIAS</td>
                    </tr>
                    <tr ng-show="$owner.vueloCtrl.listVuelosLlegadas.length === 0">
                        <td colspan="5">NO HAY REGISTROS</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- /.container -->
</div>