<div ng-controller="ReservaController as reservaCtrl">
    <div class="col-sm-8 col-sm-offset-2">
        <div>
            <center><h3 class="float-left text-uppercase content-box-header-title" style="line-height: 30px;">Listado de Reservas</h3></center>
        </div>

        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="row">
                <table object-table class="hover-column" data="reservaCtrl.allReservasUsers" display="reservaCtrl.display" 
                       headers="Codigo Reserva,Vuelo,Fecha,Pasajeros,Estado"
                       fields="codeReserva,codeVuelo,fechaRegistro,pasajeros,status" sorting="compound"
                       editable="false" search="separate" resize="false"
                       add-filter="| filter:$owner.all">
                    <tbody>
                        <tr>
                            <td>{{::item.codeReserva}}</td>
                            <td>{{::item.codeVuelo}}</td>
                            <td>{{::item.fechaRegistro}}</td>
                            <td>{{::item.pasajeros}}</td>
                            <td>{{::item.status}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr ng-show="$filtered.length === 0 && $owner.reservaCtrl.allReservasUsers.length !== 0">
                            <td colspan="6">NO HAY COINCIDENCIAS</td>
                        </tr>
                        <tr ng-show="$owner.reservaCtrl.allReservasUsers.length === 0">
                            <td colspan="6">NO HAY REGISTROS</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- /.container -->
    </div>
</div>