<div >
    <div class="content-box">
        <div>
            <center><h3 class="float-left text-uppercase content-box-header-title" style="line-height: 30px;">Listado de Usuarios</h3></center>

            <div>
                <a href="/#!/vuelos" ng-click="vm.onLimpiarRegistro()"
                   class="btn btn-sm btn-info icon-tool-add pull-right"
                   style="background-color: #00bca4; color: #ffffff; border: 0px solid #dfe8f1;">
                    <div class="glyph-icon">
                        <i class="glyphicon glyphicon-plus"></i><span class="info-icon-tool text-capitalize">NUEVO USUARIO</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="content-box-wrapper">
            <div class="row">
                <table object-table class="hover-column" data="vm.allUsers" display="vm.display" headers="Nombres,Apellidos,Usuario,Estado,Opciones"
                       fields="firstName,lastName,userName,status" sorting="compound"
                       editable="false" search="separate" resize="false"
                       add-filter="| filter:$owner.all">
                    <tbody>
                        <tr>
                            <td>{{::item.firstName}}</td>
                            <td>{{::item.lastName}}</td>
                            <td>{{::item.userName}}</td>
                            <td>{{::item.status}}</td>
                            <td class="opciones-table text-center">
                                <a href="" ng-click="$owner.vm.onClickToEditar(item)">
                                    <button class="btn btn-info btn-tools-table" title="Editar">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </button></a>
                                <a href="" ng-click="$owner.vm.deleteUser(item.id)">
                                    <button class="btn btn-danger btn-tools-table" title="Eliminar">
                                        <i class="glyphicon glyphicon-erase"></i>
                                    </button></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr ng-show="$filtered.length === 0 && $owner.vm.allUsers.length !== 0">
                            <td colspan="6">NO HAY COINCIDENCIAS</td>
                        </tr>
                        <tr ng-show="$owner.vm.allUsers.length === 0">
                            <td colspan="6">NO HAY REGISTROS</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- /.container -->
    </div>
</div>